MarkupSafe==3.0.3
decorator==5.3.1
setuptools==81.0.0
portalocker==3.2.0
pip==26.0.1
termcolor==3.3.0
gitdb==4.0.12
torchmetrics==1.9.0
nvidia-cuda-nvrtc==13.0.88
jsonschema-specifications==2025.9.1
certifi==2026.4.22
tcmlib==1.5.0
PyYAML==6.0.3
torchvision==0.27.0
tornado==6.5.5
nvidia-nccl-cu13==2.29.7
opencv-python==4.13.0.92
click==8.4.0
joblib==1.5.3
typing-inspection==0.4.2
nvidia-cusolver==12.0.4.66
antlr4-python3-runtime==4.9.3
matplotlib==3.10.9
Jinja2==3.1.6
submitit==1.5.4
daal==2026.0.0
cloudpickle==3.1.2
seaborn==0.13.2
filelock==3.29.0
nvidia-cusparselt-cu13==0.8.1
attrs==26.1.0
fsspec==2026.4.0
ptyprocess==0.7.0
fastjsonschema==2.21.2
nvidia-curand==10.4.0.35
jupyter_client==8.8.0
nest_asyncio==1.6.0
idna==3.15
parso==0.8.7
cuda-pathfinder==1.5.4
regex==2026.5.9
jupyter_core==5.9.1
rpds-py==0.30.0
sentry-sdk==2.60.0
pandas==3.0.3
nvidia-cudnn-cu13==9.20.0.48
wheel==0.46.3
lightning-utilities==0.15.3
jedi==0.19.2
ftfy==6.3.1
sympy==1.14.0
psutil==7.2.2
nvidia-cublas==13.1.1.3
cuda-bindings==13.2.0
traitlets==5.15.0
jsonschema==4.26.0
six==1.17.0
prompt_toolkit==3.0.52
asttokens==3.0.1
GitPython==3.1.50
kiwisolver==1.5.0
tbb==2023.0.0
protobuf==7.35.0
nvidia-nvshmem-cu13==3.4.5
torch==2.12.0
wcwidth==0.7.0
matplotlib-inline==0.2.2
comm==0.2.3
mpmath==1.3.0
nvidia-nvtx==13.0.85
annotated-types==0.7.0
fonttools==4.63.0
numpy==2.4.6
networkx==3.6.1
tqdm==4.67.3
stack_data==0.6.3
scipy==1.17.1
iopath==0.1.10
packaging==26.0
scikit-learn==1.8.0
pydantic==2.13.4
nvidia-cufile==1.15.1.6
ipython_pygments_lexers==1.1.1
charset-normalizer==3.4.7
nvidia-cuda-runtime==13.0.96
threadpoolctl==3.6.0
pillow==12.2.0
omegaconf==2.3.0
requests==2.34.2
referencing==0.37.0
scikit-learn-intelex==2026.0.0
nbformat==5.10.4
ipython==9.13.0
urllib3==2.7.0
nvidia-nvjitlink==13.0.88
pexpect==4.9.0
debugpy==1.8.20
nvidia-cuda-cupti==13.0.85
pyzmq==27.1.0
Pygments==2.20.0
python-dateutil==2.9.0.post0
typing_extensions==4.15.0
contourpy==1.3.3
cycler==0.12.1
ipykernel==7.2.0
wandb==0.27.0
smmap==5.0.3
pydantic_core==2.46.4
platformdirs==4.9.6
nvidia-cusparse==12.6.3.3
pyparsing==3.3.2
pure_eval==0.2.3
cuda-toolkit==13.0.2
triton==3.7.0
executing==2.2.1
nvidia-cufft==12.0.0.61
